.footer-content {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  color: aliceblue;
  /* Height of the footer element */
}
.footer {
  background: #293c79;
  position: absolute;
  padding-top: 35px;
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
}