html,
body {
  margin: 0;
  padding: 0;
  
}
.wrapper {
    min-height: 100vh;
  position: relative;

}

.content {
    min-height: 100%;
}

.footer {
    position: absolute;
    width: 100%;
    color: red;
    height: 100px;
    bottom: 0px;
    left: 0px;
}